cmp-client-createorder/wsdl/CMP-7.3.8/wsdl/group/group.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    $Id: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/group/group.wsdl#1 $
    $Header: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/group/group.wsdl#1 $
    $DateTime: 2008/01/06 10:20:44 $
    $Author: Malgorzata.Grzybowska $
    $File: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/group/group.wsdl $
    $Revision: #1 $
    (c) Copyright 2008 Martin Dawes Systems Ltd
-->
<definitions targetNamespace="http://mdsuk.com/ws/dise3g/group/definition"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:target="http://mdsuk.com/ws/dise3g/group/definition"
    xmlns:fault="http://mdsuk.com/ws/dise3g/fault/definition">

    <documentation>This Webservice definition encompasses all operations relating to Group management.
    </documentation>

	<import namespace="http://mdsuk.com/ws/dise3g/fault/definition" location="../fault/fault.wsdl"/>

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://mdsuk.com/ws/dise3g/group/definition"
            xmlns:group="http://mdsuk.com/ws/dise3g/group/dto/service"
            elementFormDefault="qualified">

            <import namespace="http://mdsuk.com/ws/dise3g/group/dto/service" schemaLocation="../../xsd/groupservice.xsd"/>

            <element name="CreateGroup">
                <complexType>
                    <sequence>
                        <element name="Request" type="group:CreateGroupType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="CreateGroupResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="group:CreateGroupResponseType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="UpdateGroup">
                <complexType>
                    <sequence>
                        <element name="Request" type="group:UpdateGroupType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="UpdateGroupResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="group:UpdateGroupResponseType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="QueryGroup">
                <complexType>
                    <sequence>
                        <element name="Request" type="group:QueryGroupType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="QueryGroupResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="group:QueryGroupResponseType"/>
                    </sequence>
                </complexType>
            </element>

        </schema>
    </types>

    <message name="CreateGroupRequest">
        <part name="Parameters" element="target:CreateGroup"/>
    </message>

    <message name="CreateGroupResponse">
        <part name="Parameters" element="target:CreateGroupResponse"/>
    </message>

    <message name="UpdateGroupRequest">
        <part name="Parameters" element="target:UpdateGroup"/>
    </message>

    <message name="UpdateGroupResponse">
        <part name="Parameters" element="target:UpdateGroupResponse"/>
    </message>

    <message name="QueryGroupRequest">
        <part name="Parameters" element="target:QueryGroup"/>
    </message>

    <message name="QueryGroupResponse">
        <part name="Parameters" element="target:QueryGroupResponse"/>
    </message>

    <portType name="GroupPortType">
        <operation name="CreateGroup">
            <input message="target:CreateGroupRequest"/>
            <output message="target:CreateGroupResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
        <operation name="UpdateGroup">
            <input message="target:UpdateGroupRequest"/>
            <output message="target:UpdateGroupResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
        <operation name="QueryGroup">
            <input message="target:QueryGroupRequest"/>
            <output message="target:QueryGroupResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
    </portType>

</definitions>
