cmp-client-createorder/wsdl/CMP-7.3.8/wsdl/oam/oam.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $Id: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/oam/oam.wsdl#1 $
    $Header: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/oam/oam.wsdl#1 $
    $DateTime: 2021/03/22 14:14:36 $
    $Author: BuildMaster $
    $File: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/oam/oam.wsdl $
    $Revision: #1 $
    (c) Copyright 2007 Martin Dawes Systems Ltd
-->
<definitions targetNamespace="http://mdsuk.com/ws/dise3g/oam/definition"
    xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:fault="http://mdsuk.com/ws/dise3g/fault/definition"
    xmlns:target="http://mdsuk.com/ws/dise3g/oam/definition">

    <documentation>This Webservice definition encompasses all operations relating to OAM management. </documentation>

	<import namespace="http://mdsuk.com/ws/dise3g/fault/definition" location="../fault/fault.wsdl"/>

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://mdsuk.com/ws/dise3g/oam/definition"
            xmlns:oam="http://mdsuk.com/ws/dise3g/oam/dto/service" 
            elementFormDefault="qualified">
            <import namespace="http://mdsuk.com/ws/dise3g/oam/dto/service"
                schemaLocation="../../xsd/oamservice.xsd"/>

            <element name="ProvisionOAMAccess">
                <complexType>
                    <sequence>
                        <element name="OAMData" type="oam:ProvisionOAMAccessType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="ProvisionOAMAccessResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="oam:ProvisionOAMAccessResponseType"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="ProvisionOAMAccessRequest">
        <part name="AccountData" element="target:ProvisionOAMAccess"/>
    </message>

    <message name="ProvisionOAMAccessResponse">
        <part name="Result" element="target:ProvisionOAMAccessResponse"/>
    </message>

    <portType name="OAMPortType">
        <operation name="ProvisionOAMAccess">
            <input message="target:ProvisionOAMAccessRequest"/>
            <output message="target:ProvisionOAMAccessResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
    </portType>
</definitions>
