cmp-client-createorder/wsdl/CMP-7.3.8/xsd/basket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: //Source_Code/BCC/Dise3G/6.3/1/WebService/Schema/xsd/basket.xsd 
	$ $Header: //Source_Code/BCC/Dise3G/6.3/1/WebService/Schema/xsd/basket.xsd 
	$ $DateTime: 2014/11/13 14:05:16 $ $File: //Source_Code/BCC/Dise3G/6.3/1/WebService/Schema/xsd/basket.xsd 
	$ -->

<!-- This schema contains data types used to describe Baskets -->

<xs:schema targetNamespace="http://mdsuk.com/ws/dise3g/basket/dto/business"
	xmlns:target="http://mdsuk.com/ws/dise3g/basket/dto/business"
	xmlns:base="http://mdsuk.com/ws/dise3g/base" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://mdsuk.com/ws/dise3g/base"
		schemaLocation="base.xsd" />

	<xs:complexType name="QueryBasketsType">
		<xs:annotation>
			<xs:documentation>This structure is returned as part of the
				Subscription Query response
				when BASKETS data set is specified
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Basket" type="target:QueryBasketType"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QueryBasketType">
		<xs:all>
			<xs:element name="BasketCode" type="base:ServiceCodeType"
				minOccurs="1" />
			<xs:element name="BasketDescription" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="BasketDefinitionCode" type="base:StringMaxLength8Type"
				minOccurs="1" />
			<xs:element name="BasketDefinitionDescription" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="AvailableAmount" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedAvailableAmount" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="BalanceAmount" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedBalanceAmount" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="RTCUnitOfMeasure" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="LastGrantAmount" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="RecurringAllowance" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedRecurringAllowance" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="RolloverAllowance" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedRolloverAllowance" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="ReservedAmount" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedReservedAmount" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="BasketEffective" type="xs:dateTime"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="BasketExpiry" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="UsageLimit" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="DefaultCreditLimitMinimum" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="DefaultCreditLimitMaximum" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="BillingOption" type="xs:string"
				minOccurs="0" />
			<xs:element name="IsVirtual" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsPrepaid" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsPeriodic" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsShared" type="xs:boolean" minOccurs="0" />
			<xs:element name="SharedLevel" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="IsBillCycleAligned" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="IsCreditLimitUpdatable" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="RTCBalanceResourceID" type="xs:long" minOccurs="0" />
			<xs:element name="RTCCreditLimitThresholdID" type="xs:long"
				minOccurs="0" />
			<xs:element name="HeaderOrDetail" type="xs:string"
				minOccurs="0" />
			<xs:element name="HeaderService" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="CustomerBasketPeriods" type="target:CustomerBasketsPeriod"
				minOccurs="0" />
			<xs:element name="BasketDefinitionAttributes" type="target:BasketDefinitionsAttribute"
				minOccurs="0" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="CustomerBasketsPeriod">
		<xs:sequence>
			<xs:element name="CustomerBasketPeriod" type="target:CustomerBasketPeriod"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CustomerBasketPeriod">
		<xs:all>
			<xs:element name="IntervalId" type="xs:integer" minOccurs="0" />
			<xs:element name="EffectiveDate" type="xs:dateTime" minOccurs="0" />
			<xs:element name="ExpiryDate" type="xs:dateTime" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="AvailableAmount" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedAvailableAmount" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="ConsumedAmount" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedConsumedAmount" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />		
			<xs:element name="UsageLimit" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedUsageLimit" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="RecurringAllowance" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedRecurringAllowance" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="RolloverAllowance" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedRolloverAllowance" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="ReservedAmount" type="base:Currency9_2NotRequiredType"
				minOccurs="0" />
			<xs:element name="FormattedReservedAmount" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
				
		</xs:all>
	</xs:complexType>

	<xs:complexType name="BasketDefinitionsAttribute">
		<xs:sequence>
			<xs:element name="BasketDefinitionAttribute" type="target:BasketDefinitionAttribute"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BasketDefinitionAttribute">
		<xs:all>
			<xs:element name="BasketDefinitionAttributeSeqNo" type="xs:integer"
				minOccurs="0" />
			<xs:element name="BasketDefinitionAttributeValue" type="base:StringMaxLength100NotRequiredType"
				minOccurs="0" />
			<xs:element name="BasketDefinitionAttributeType" type="base:StringMaxLength30NotRequiredType"
				minOccurs="0" />
			<xs:element name="BasketDefinitionAttributeTypeDescription"
				type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
		</xs:all>
	</xs:complexType>

	<xs:complexType name="CreditLimitType">
		<xs:all>
			<xs:element name="BasketCode" type="base:ServiceCodeType" minOccurs="1" />
			<xs:element name="RTCBalanceResourceID" type="base:FiveDigitNumberType" minOccurs="1" />
			<xs:element name="RTCCreditLimitThresholdID" type="base:ElevenDigitNumberType" minOccurs="1" />
			<xs:element name="CreditLimitValue" type="base:Currency9_2Type" minOccurs="1" />
			<xs:element name="Unlimited" type="xs:boolean" minOccurs="0" />
		</xs:all>
	</xs:complexType>
	
	<xs:simpleType name="CustomerReferenceType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"></xs:minLength>
			<xs:maxLength value="19"></xs:maxLength>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BasketLevelType">
        <xs:restriction base="xs:string">
		    <xs:enumeration value="AGREEMENT" />
            <xs:enumeration value="SUBSCRIPTION" />
            <xs:enumeration value="TARIFFSHARE" />
        </xs:restriction>
    </xs:simpleType>

	<xs:complexType name="BasketCodesType">
		<xs:sequence>
			<xs:element name="BasketCode" type="base:ServiceCodeType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QuerySharedBasketBalanceDatasetsType">
        <xs:sequence>
            <xs:element name="Dataset" type="target:QuerySharedBasketBalanceDatasetType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="SubscriptionsBasketAdjustmentType">
		<xs:sequence>
			<xs:element name="Subscription" type="target:SubscriptionBasketAdjustmentType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SubscriptionBasketAdjustmentType">
		<xs:sequence>
			<xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="BasketAdjustments" type="target:BasketAdjustmentsType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BasketAdjustmentsType">
		<xs:sequence>
			<xs:element name="BasketAdjustment" type="target:BasketAdjustmentType" minOccurs="2" maxOccurs="2" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BasketAdjustmentType">
		<xs:all>
			<xs:element name="RTCBalanceResourceID" type="xs:long" minOccurs="1" />
			<xs:element name="AdjustmentAmount" type="base:Currency9_2NotRequiredType" minOccurs="1" />
		</xs:all>
	</xs:complexType>

    <xs:simpleType name="QuerySharedBasketBalanceDatasetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEFINITION"/>
            <xs:enumeration value="SUBSCRIPTION"/>
            <xs:enumeration value="SHARED"/>
        </xs:restriction>
    </xs:simpleType>

	<xs:complexType name="BasketsType">
		<xs:sequence>
			<xs:element name="Basket" type="target:BasketType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BasketType"> 
        <xs:all>
            <xs:element name="BasketCode" type="base:ServiceCodeType" minOccurs="1" />
            <xs:element name="BasketDefinition" type="target:BasketDefinitionType" minOccurs="0" />
            <xs:element name="SharedBasket" type="target:SharedBasketType" minOccurs="0" />
            <xs:element name="Subscriptions" type="target:SubscriptionsType" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="BasketDefinitionType"> 
        <xs:all>
            <xs:element name="BasketDescription" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="BasketDefinitionCode" type="base:StringMaxLength8Type" minOccurs="1" />
			<xs:element name="BasketDefinitionDescription" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="RTCUnitOfMeasure" type="xs:string" minOccurs="0" />
			<xs:element name="LastGrantAmount" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="BasketEffective" type="xs:date" minOccurs="1" maxOccurs="1" />
			<xs:element name="BasketExpiry" type="xs:date" minOccurs="0" maxOccurs="1" />
			<xs:element name="CreditLimit" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="DefaultCreditLimitMinimum" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="DefaultCreditLimitMaximum" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="BillingOption" type="xs:string" minOccurs="0" />
			<xs:element name="IsVirtual" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsPrepaid" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsPeriodic" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsShared" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsBillCycleAligned" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsCreditLimitUpdatable" type="xs:boolean" minOccurs="0" />
			<xs:element name="HeaderOrDetail" type="xs:string" minOccurs="0" />
			<xs:element name="HeaderService" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="BasketDefinitionAttributes" type="target:BasketDefinitionsAttribute" minOccurs="0" />	
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="SharedBasketType"> 
        <xs:all>
           <xs:element name="AvailableAmount" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="FormattedAvailableAmount" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="BalanceAmount" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="FormattedBalanceAmount" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="RTCBalanceResourceID" type="xs:long" minOccurs="0" />
			<xs:element name="RTCCreditLimitThresholdID" type="xs:long" minOccurs="0" />
			<xs:element name="CustomerReference" type="xs:string" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="SubscriptionsType">
		<xs:sequence>
			<xs:element name="Subscription" type="target:SubscriptionType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SubscriptionType"> 
        <xs:all>
        	<xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType" minOccurs="1"/>
        	<xs:element name="NetworkSerialNumber" type="base:NetworkSerialNumberType" minOccurs="1"/>
        	<xs:element name="UserName" type="base:StringMaxLength30Type" minOccurs="0" />
			<xs:element name="AvailableAmount" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="FormattedAvailableAmount" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="BalanceAmount" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="FormattedBalanceAmount" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="RTCBalanceResourceID" type="xs:long" minOccurs="0" />
			<xs:element name="RTCCreditLimitThresholdID" type="xs:long" minOccurs="0" />
        </xs:all>
    </xs:complexType>

	<xs:complexType name="PurchaseOffersType">
		<xs:sequence>
			<xs:element name="PurchaseOffer" type="target:PurchaseOfferType" minOccurs="1" maxOccurs="5" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PurchaseOfferType">
		<xs:all>
        	<xs:element name="ReloadOption" type="base:StringMaxLength6Type" minOccurs="1"/>
        	<xs:element name="Price" type="base:Currency11_2NotRequiredType" minOccurs="0"/>
        </xs:all>
	</xs:complexType>
	
	<xs:complexType name="QueryReloadHistoryDatasetsType">
		<xs:sequence>
			<xs:element name="Dataset" type="target:QueryReloadHistoryDatasetType" minOccurs="1" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="QueryReloadHistoryDatasetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="RELOADS"/>
            <xs:enumeration value="TOPUPS"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="ReloadsType">
    	<xs:sequence>
    		<xs:element name="Reload" type="target:ReloadType" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ReloadType">
    	<xs:sequence>
    		<xs:element name="ReloadData" type="target:ReloadDataType" minOccurs="1" maxOccurs="1"/>
    		<xs:element name="Baskets" type="target:ReloadBasketsType" minOccurs="0" maxOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>    
   <xs:complexType name="TopUpsType">
    	<xs:sequence>
			<xs:element name="TopUp" type="target:TopUpType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TopUpType">
    	<xs:sequence>
			<xs:element name="TopUpData" type="target:ReloadDataType" minOccurs="1" maxOccurs="1" />
		</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="ReloadDataType">
    	<xs:all>
			<xs:element name="EventNumber" type="base:NineDigitNumberType" minOccurs="1"/>    		
			<xs:element name="ReloadMethod" type="base:StringMaxLength6Type" minOccurs="1"/>    		
			<xs:element name="ReloadMethodDescription" type="xs:string" minOccurs="1"/>    		
			<xs:element name="ReloadOption" type="base:StringMaxLength6Type" minOccurs="1"/>    		
			<xs:element name="ReloadOptionDescription" type="xs:string" minOccurs="1"/>    		
			<xs:element name="ReloadPrice" type="base:Currency11_2NotRequiredType" minOccurs="1"/>    		
			<xs:element name="PaymentReference" type="xs:string" minOccurs="0"/>    		
			<xs:element name="DateCreated" type="xs:date" minOccurs="1"/>    		
			<xs:element name="TimeCreated" type="xs:time" minOccurs="1"/>    		
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="1"/>
			<xs:element name="ExpiryTime" type="xs:time" minOccurs="1"/>
    	</xs:all>
    </xs:complexType>
    
    <xs:complexType name="ReloadBasketsType">
    	<xs:sequence>
			<xs:element name="Basket" type="target:ReloadBasketType" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
    </xs:complexType>
    
    
    <xs:complexType name="ReloadBasketType">
    	<xs:all>
            <xs:element name="BasketCode" type="base:ServiceCodeType" minOccurs="0" />
            <xs:element name="BasketDescription" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="BasketDefinitionCode" type="base:StringMaxLength8Type" minOccurs="0" />
			<xs:element name="BasketDefinitionDescription" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="AvailableAmount" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="FormattedAvailableAmount" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="BalanceAmount" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="FormattedBalanceAmount" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="RTCUnitOfMeasure" type="xs:string" minOccurs="0" />
			<xs:element name="LastGrantAmount" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="BasketEffective" type="xs:dateTime" minOccurs="0" />
			<xs:element name="BasketExpiry" type="xs:dateTime" minOccurs="0" />
			<xs:element name="CreditLimit" type="base:Currency9_2NotRequiredType" minOccurs="0" />
			<xs:element name="IsVirtual" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsPrepaid" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsPeriodic" type="xs:boolean" minOccurs="0" />
			<xs:element name="IsShared" type="xs:boolean" minOccurs="0" />
			<xs:element name="SharedLevel" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="IsBillCycleAligned" type="xs:boolean" minOccurs="0" />
			<xs:element name="RTCBalanceResourceID" type="xs:long" minOccurs="0"/>
			<xs:element name="HeaderOrDetail" type="xs:string" minOccurs="0" />
			<xs:element name="HeaderService" type="base:StringMaxLength30NotRequiredType" minOccurs="0" />
			<xs:element name="BasketDefinitionAttributes" type="target:BasketDefinitionsAttribute" minOccurs="0" />	
    	</xs:all>
    </xs:complexType>
    
    <xs:simpleType name="CustomerLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SUBSCRIPTION" />
            <xs:enumeration value="NETWORKSERIALNUMBER" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="TargetIdentifierType">
        <xs:all>
            <xs:element name="CustomerLevel" type="target:CustomerLevelType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CustomerReference" type="target:CustomerReferenceType" minOccurs="1" maxOccurs="1"/>         
        </xs:all> 
    </xs:complexType>  
    
    <xs:complexType name="RefreshTargetIdentifierType">       
       <xs:choice>
            <xs:element name="SubscriptionIdentifier" type="base:SubscriptionNumberType"/>
            <xs:element name="NetworkSerialNumber" type="base:NetworkSerialNumberType"/>
        </xs:choice>	
    </xs:complexType>
    	
    <xs:complexType name="RefreshUpdateRefreshesType">		
		<xs:sequence>			
            <xs:element name="Refresh" type="target:RefreshUpdateType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RefreshType">
		<xs:sequence>						
			<xs:element name="RefreshType" type="target:RefreshTypeType" minOccurs="1"/>			
			<xs:element name="StartDate" type="xs:date" minOccurs="1"/>											
		</xs:sequence>	
	</xs:complexType>
	
	<xs:complexType name="RefreshTypeType">
		<xs:choice>
			<xs:element name="Automatic" type="target:RefreshAutomaticType"/>
			<xs:element name="Recurring" type="target:RefreshRecurringType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="RefreshAutomaticType">
		<xs:sequence>
			<xs:element name="ReloadMethod" type="base:StringMaxLength6Type" minOccurs="1"/>
			<xs:element name="ReloadOption" type="base:StringMaxLength6Type" minOccurs="1"/>
			<xs:element name="AutoPurchase" type="xs:boolean" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RefreshUpdateReloadType">
		<xs:sequence>
			<xs:element name="Reload" type="target:RefreshUpdateReloadMethodAndOptionType" minOccurs="0"/>										
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RefreshUpdateReloadMethodAndOptionType">
		<xs:sequence>
			<xs:element name="ReloadMethod" type="base:StringMaxLength6Type" minOccurs="1"/>
			<xs:element name="ReloadOption" type="base:StringMaxLength6Type" minOccurs="1"/>						
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RefreshRecurringType">
    	<xs:sequence>
			<xs:element name="ServiceCode" type="base:ServiceCodeType" minOccurs="1"/>
			<xs:element name="FirstPaymentTaken" type="xs:boolean" minOccurs="0"/>
		</xs:sequence>	
	</xs:complexType>  
	
	<xs:complexType name="RefreshUpdateType">
    	<xs:sequence>
    		<xs:element name="RefreshNumber" type="base:ThreeDigitNumberType" minOccurs="1"/>	
			<xs:choice>
				<xs:element name="Automatic" type="target:RefreshUpdateAutomaticType"/>
				<xs:element name="Recurring" type="target:RefreshUpdateRecurringType"/>
			</xs:choice>	
		</xs:sequence>	
	</xs:complexType>
			
	<xs:complexType name="RefreshUpdateAutomaticType">
		<xs:choice>
			<xs:element name="Update" type="target:RefreshUpdateReloadType"/>
			<xs:element name="Disable" type="xs:boolean"/>
			<xs:element name="Enable" type="target:RefreshUpdateAutomaticEnableType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="RefreshUpdateAutomaticEnableType">
    	<xs:sequence>
    		<xs:element name="AutoPurchase" type="xs:boolean" minOccurs="0"/>				
		</xs:sequence>	
	</xs:complexType>
	
	<xs:complexType name="RefreshUpdateRecurringType">
    	<xs:sequence>
    		<xs:element name="Cancel" type="target:RefreshUpdateCancelType" minOccurs="1"/>			
		</xs:sequence>	
	</xs:complexType>  	
	
	<xs:complexType name="RefreshUpdateCancelType">
    	<xs:sequence>
    		<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>			
		</xs:sequence>	
	</xs:complexType> 
	  
</xs:schema>
