cmp-client-createorder/wsdl/CMP-7.3.8/xsd/billingservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $Id: //Source_Code/BCC/Dise3G/4.5/1/WebService/Schema/xsd/billingservice.xsd#1 $
    $Header: //Source_Code/BCC/Dise3G/4.5/1/WebService/Schema/xsd/billingservice.xsd#1 $
    $DateTime:  $ 
    $Author: $
    $File: //Source_Code/BCC/Dise3G/4.5/1/WebService/Schema/xsd/billingservice.xsd $
    $Revision: #1 $
    (c) Copyright 2008 Martin Dawes Systems Ltd
-->
<!-- This schema describes the API data types for the Billing service -->

<xs:schema targetNamespace="http://mdsuk.com/ws/dise3g/billing/dto/service"
        xmlns:subscription="http://mdsuk.com/ws/dise3g/subscription/dto/business"
        xmlns:account="http://mdsuk.com/ws/dise3g/account/dto/business"
        xmlns:target="http://mdsuk.com/ws/dise3g/billing/dto/service"
        xmlns:discount="http://mdsuk.com/ws/dise3g/discount/dto/service"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:billing="http://mdsuk.com/ws/dise3g/billing/dto/business"
        xmlns:base="http://mdsuk.com/ws/dise3g/base">

        <xs:import namespace="http://mdsuk.com/ws/dise3g/discount/dto/service"
		schemaLocation="discountservice.xsd"></xs:import>
        <xs:import namespace="http://mdsuk.com/ws/dise3g/billing/dto/business"
		schemaLocation="billing.xsd"></xs:import>
        <xs:import namespace="http://mdsuk.com/ws/dise3g/base" schemaLocation="base.xsd"></xs:import>
        <xs:import namespace="http://mdsuk.com/ws/dise3g/account/dto/business"
    	        schemaLocation="account.xsd"/>    	
        <xs:import namespace="http://mdsuk.com/ws/dise3g/subscription/dto/business"
    	        schemaLocation="subscription.xsd"/>  
    	
	<xs:complexType name="QueryCUGNumbersType">
        <xs:annotation>
            <xs:documentation>Request data structure for QueryCUGNumbers</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"></xs:element>
			<xs:element name="TargetQueryIdentifier" type="target:TargetQueryIdentifierType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ServiceCode" type="subscription:ServiceCodeType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUGNumbersFilter" type="billing:CUGNumbersFilterType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="QueryCUGNumbersResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for QueryCUGNumbers - will return a Closed User Group list with a set of numbers at the specified Customer Level code</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="CUGTargetIdentifier" type="target:CUGTargetIdentifierType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="QueryLimitExceeded" type="base:QueryLimitExceededType"/>
			<xs:element name="CUGNumbers" type="billing:CUGNumbersType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CreateCUGNumbersType">
        <xs:annotation>
            <xs:documentation>Request data structure for CreateCUGNumbers - will create a Closed User Group with a set of Shared numbers at the specified Customer Level code</xs:documentation>
        </xs:annotation>	
	        <xs:sequence>
                    <xs:element name="ExternalReference" type="xs:string" minOccurs="0"></xs:element>
                    <xs:element name="TargetIdentifier" type="target:TargetIdentifierType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="ServiceCode" type="subscription:ServiceCodeType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="CUGNumbers" type="billing:CreateCUGNumbersListType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CreateCUGNumbersResponseType">
        <xs:annotation>
            <xs:documentation>Response object for CreateCUGNumbers - returns the Closed User Group ID</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="ClosedUserGroupNumber" type="billing:ClosedUserGroupNumberType" minOccurs="1" maxOccurs="1"></xs:element>
		</xs:sequence>
	</xs:complexType>

    <xs:complexType name="TargetIdentifierType">
        <xs:choice>
            <xs:element name="GroupIdentifier" type="base:GroupCodeType"/>
            <xs:element name="CorporateIdentifier" type="base:CorporateCodeType"/>
            <xs:element name="AccountIdentifier" type="base:AccountNumberType"/>
            <xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType"/>
            <xs:element name="NetworkSerialNumber" type="base:NetworkSerialNumberType"/>         
        </xs:choice> 
    </xs:complexType>

    <xs:complexType name="CUGTargetIdentifierType">
        <xs:choice>
            <xs:element name="GroupIdentifier" type="base:GroupCodeType"/>
            <xs:element name="CorporateIdentifier" type="base:CorporateCodeType"/>
            <xs:element name="AccountIdentifier" type="base:AccountNumberType"/>
        </xs:choice> 
    </xs:complexType>
        
    <xs:complexType name="TargetQueryIdentifierType">
        <xs:choice>
            <xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType"/>
            <xs:element name="NetworkSerialNumber" type="base:NetworkSerialNumberType"/>
        </xs:choice> 
    </xs:complexType>
    
    <xs:complexType name="QueryBundleType">
        <xs:sequence>
        	<xs:element name="ExternalReference"
        		type="base:ExternalReferenceType" minOccurs="0" />
        	<xs:element name="TargetIdentifier"
        		type="billing:BundleTargetIdentifierType" minOccurs="1"
        		maxOccurs="1" />
        	<xs:element name="BundleCode" type="billing:BundleCodeType"
        		minOccurs="1" maxOccurs="1" />
        	<xs:element name="FutureEffectiveDate" type="xs:date" maxOccurs="1" minOccurs="0"></xs:element>
        	<xs:element name="Datasets"
        		type="billing:QueryBundleDatasetsType" minOccurs="1"
        		maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="QueryBundleResponseType">
        <xs:sequence>
            <xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
            <xs:element name="CurrentUsage" type="billing:CurrentUsageType" minOccurs="0" maxOccurs="1" />
			<xs:element name="LinkedSubscriptions" type="billing:BundleLinkedSubscriptionsType" minOccurs="0" />
			<xs:element name="UnlinkedSubscriptions" type="billing:BundleUnlinkedSubscriptionsType" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="QueryUnbilledUnitsType">
		<xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="QueryTarget" type="billing:QueryUnbilledUnitsTargetType"/>           
			<xs:element name="Datasets" type="billing:UnbilledUnitsDatasetsType" minOccurs="1"/>            
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="QueryUnbilledUnitsResponseType">
		<xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="UnbilledUnits" type="billing:UnbilledUnitsType"  minOccurs="0"/>
			<xs:element name="UnbilledUnitSummary" type="billing:UnbilledUnitSummaryType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="QueryCUGsType">
        <xs:annotation>
            <xs:documentation>Request data structure for QueryCUGs</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="TargetQueryIdentifier" type="target:TargetQueryCUGsIdentifierType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUGActiveFilter" type="billing:CUGActiveFilterType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QueryCUGsResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for QueryCUGs - will return a list of Closed User Group Numbers</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="CUGTargetIdentifier" type="target:CUGTargetIdentifierType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="QueryLimitExceeded" type="base:QueryLimitExceededType"/>
			<xs:element name="ClosedUserGroups" type="billing:ClosedUserGroupsType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="QueryCUGType">
        <xs:annotation>
            <xs:documentation>Request data structure for QueryCUG</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="ClosedUserGroupNumber" type="billing:ClosedUserGroupNumberType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CUGNumbersFilter" type="billing:CUGNumbersFilterType" minOccurs="1"/>
			<xs:element name="CUGActiveFilter" type="billing:CUGActiveFilterType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="QueryCUGResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for QueryCUG - will return a list of Numbers for a CUG</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="MaxCUGNumbers" type="billing:MaxCUGNumbersType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="QueryLimitExceeded" type="base:QueryLimitExceededType"/>
			<xs:element name="CUGNumbers" type="billing:CUGNumbersInfoType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TargetQueryCUGsIdentifierType">
		<xs:choice>
			<xs:element name="GroupIdentifier" type="base:GroupCodeType"/>
			<xs:element name="CorporateIdentifier" type="base:CorporateCodeType"/>
			<xs:element name="AccountIdentifier" type="base:AccountNumberType"/>
			<xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType"/>
		</xs:choice>
	</xs:complexType>


	<xs:complexType name="QueryBillableAssetsType">
        <xs:annotation>
            <xs:documentation>Request data structure for  Query Billable Assets</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="1"/>
			<xs:element name="TargetIdentifier" type="target:BillableTargetIdentifierType" minOccurs="1"/>
			<xs:element name="BillableAssetFilterType" type="base:StatusFilterAllActiveType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>	
	
	
	<xs:complexType name="QueryBillableAssetsResponseType">
        <xs:annotation>
            <xs:documentation>Request data structure for  Query Billable Assets</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="1"/>
			<xs:element name="TargetIdentifier" type="target:BillableTargetIdentifierType" minOccurs="1"/>
			<xs:element name="QueryLimitExceeded" type="base:QueryLimitExceededType" minOccurs="1"/>
			<xs:element name="BillableAssets" type="target:BillableAssetTypes" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BillableTargetIdentifierType">
        <xs:choice>
            <xs:element name="AccountIdentifier" type="base:AccountNumberType" minOccurs="1"/>
        </xs:choice>
    </xs:complexType>
	
	<xs:complexType name="BillableAssetTypes">
    	<xs:sequence>
			<xs:element name="BillableAsset" type="target:BillableAssetType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="BillableAssetType">
        <xs:annotation>
            <xs:documentation>data type that defines summary information for one billable asset</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="BillableAssetCode" type="billing:BillableAssetCode" minOccurs="1"/>
			<xs:element name="BillableAssetDescription" type="billing:BillableAssetDescription" minOccurs="1"/>
			<xs:element name="ActiveBillableAssetLineCount" type="base:EightDigitNumber_NotZeroType" minOccurs="1"/>
			<xs:element name="AllBillableAssetLineCount" type="base:EightDigitNumber_NotZeroType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="CreateBillableAssetType">
        <xs:annotation>
            <xs:documentation>Request data structure for  Create Billable Asset </xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="1"/>
			<xs:element name="TargetIdentifier" type="target:BillableTargetIdentifierType" minOccurs="1"/>
			<xs:element name="BillableAssetCode" type="billing:BillableAssetCode" minOccurs="1"/>
			<xs:element name="Quantity" type="base:FourDigitNumber_NotZeroType" minOccurs="1"/>
			
			<xs:element name="EffectiveDate" type="xs:date" minOccurs="1"/>
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="AgreementNumber" type="base:EightDigitNumber_NotZeroType" minOccurs="1"/>
			<xs:element name="Price" type="base:Currency9_2NotRequiredType" minOccurs="0"/>
			<xs:element name="Reference1" type="base:StringMaxLength30NotRequiredType" minOccurs="0"/>
			<xs:element name="Reference2" type="base:StringMaxLength30NotRequiredType" minOccurs="0"/>
			<xs:element name="EligibilityRules" type="subscription:EligibilityRulesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="CreateBillableAssetResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for  Create Billable Asset Response</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
        </xs:all>
	</xs:complexType>

	<xs:complexType name="QueryBillableAssetType">
        <xs:annotation>
            <xs:documentation>returns further details about the current selected billable asset currently only supports LINES</xs:documentation>
        </xs:annotation>
        <xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="1"/>
			<xs:element name="TargetIdentifier" type="target:BillableTargetIdentifierType" minOccurs="1"/>
			<xs:element name="BillableAssetCode" type="billing:BillableAssetCode" minOccurs="1"/>
			<xs:element name="DataSets" type="billing:QueryBillableAssetDatasets" minOccurs="1"/>
    </xs:all>
	</xs:complexType>
	
	<xs:complexType name="QueryBillableAssetResponseType">
        <xs:annotation>
            <xs:documentation>retrieve a list of billable asset lines for an account</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="1"/>
			<xs:element name="TargetIdentifier" type="target:BillableTargetIdentifierType" minOccurs="1"/>
			<xs:element name="QueryLimitExceeded" type="base:QueryLimitExceededType" minOccurs="1"/>
			<xs:element name="BillableAssetLines" type="target:BillableAssetLinesType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
	</xs:complexType>	
	<xs:complexType name="BillableAssetLinesType">
    	<xs:sequence>
			<xs:element name="BillableAssetLine" type="target:BillableAssetLineType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	

	<xs:complexType name="BillableAssetLineType">
        <xs:annotation>
            <xs:documentation>a specific billable asset line</xs:documentation>
        </xs:annotation>
        <xs:all>
			<xs:element name="BillableAssetLineIdentifier" type="billing:BillableAssetLineIdentifierType" minOccurs="1"/>
			<xs:element name="EffectiveDate" type="xs:date" minOccurs="1"/>
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Reference1" type="base:StringMaxLength30NotRequiredType" minOccurs="0"/>
			<xs:element name="Reference2" type="base:StringMaxLength30NotRequiredType" minOccurs="0"/>
			<xs:element name="InvoiceThisLine" type="xs:boolean" minOccurs="1"/>
			<xs:element name="BilledUpToDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Price" type="base:Currency9_2NotRequiredType" minOccurs="1"/>
           	<xs:element name="LastAmendedDate" type="base:LastAmendedDateType" minOccurs="1"/>
           	<xs:element name="ExpectedContractExpiryDate" type="xs:date" minOccurs="0"/>
           	<xs:element name="SuppressContractExpiryCharge" type="xs:boolean" minOccurs="0"/>
        </xs:all>
	</xs:complexType>
	
	<xs:complexType name="UpdateBillableAssetLineType">
        <xs:annotation>
            <xs:documentation>update a billable asset line request type</xs:documentation>
        </xs:annotation>
        <xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="1"/>
			<xs:element name="TargetIdentifier" type="target:BillableTargetIdentifierType" minOccurs="1"/>
			<xs:element name="BillableAssetLineIdentifier" type="billing:BillableAssetLineIdentifierType" minOccurs="1"/>
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Reference1" type="base:StringMaxLength30NotRequiredType" minOccurs="0"/>
			<xs:element name="Reference2" type="base:StringMaxLength30NotRequiredType" minOccurs="0"/>
			<xs:element name="Price" type="base:Currency9_2NotRequiredType" minOccurs="0"/>
           	<xs:element name="SuppressContractExpiryCharge" type="xs:boolean" minOccurs="0"/>
           	<xs:element name="LastAmendedDate" type="base:LastAmendedDateType" minOccurs="1"/>
        </xs:all>
	</xs:complexType>
	
	<xs:complexType name="UpdateBillableAssetLineResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for  Update Billable Asset line</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
        </xs:all>
	</xs:complexType>
	
	<xs:complexType name="BillableAssetLineIdentifiersType">
    	<xs:sequence>
			<xs:element name="BillableAssetLineIdentifier" type="billing:BillableAssetLineIdentifierType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DeleteBillableAssetLinesType">
        <xs:annotation>
            <xs:documentation>delete billable asset lines</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="1"/>
			<xs:element name="TargetIdentifier" type="target:BillableTargetIdentifierType" minOccurs="1"/>
			<xs:element name="BillableAssetLineIdentifiers" type="target:BillableAssetLineIdentifiersType" minOccurs="1" maxOccurs="1"/>
	     </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="DeleteBillableAssetLinesResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for  Delete Account Billable Asset lines</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
        </xs:all>
	</xs:complexType>
	
	<xs:complexType name="TargetAttributesIdentifierType">
		<xs:choice>
			<xs:element name="AccountIdentifier" type="base:AccountNumberType"/>
			<xs:element name="SubscriptionIdentifier" type="base:SubscriptionNumberType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="SetAttributesType">
        <xs:annotation>
            <xs:documentation>Request data structure for setting attributes</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="TargetIdentifier" type="target:TargetAttributesIdentifierType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AttributeGroup" type="billing:AttributeGroupType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AuditRecord" type="base:AuditRecordType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SetAttributesResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for set attributes</xs:documentation>
        </xs:annotation>
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="TargetCreateBundleIdentifierType">
		<xs:choice>
			<xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType"/>
			<xs:element name="AgreementNumber" type="base:AgreementNumberType"/>
		</xs:choice>
	</xs:complexType>
	
	<xs:complexType name="CreateBundleType">
        <xs:annotation>
            <xs:documentation>Request data structure for CreateBundle- will create a Bundle at the specified Customer Level code</xs:documentation>
        </xs:annotation>	
	        <xs:sequence>
                    <xs:element name="ExternalReference" type="xs:string" minOccurs="0"></xs:element>
                    <xs:element name="TargetIdentifier" type="target:TargetCreateBundleIdentifierType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="BundleCode" type="billing:BundleCodeType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="EffectiveDate" type="xs:date" minOccurs="1"/>
					<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CreateBundleResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for  Create Bundle Response</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
        </xs:all>
	</xs:complexType>
	
	<xs:complexType name="CreateBundleLinkType">
        <xs:annotation>
            <xs:documentation>Request data structure for CreateBundleLink- will create a Subsciption Bundle linked to an Agreement Bundle</xs:documentation>
        </xs:annotation>	
	        <xs:sequence>
                    <xs:element name="ExternalReference" type="xs:string" minOccurs="0"></xs:element>
                    <xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="BundleCode" type="billing:BundleCodeType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="EffectiveDate" type="xs:date" minOccurs="1"/>
					<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CreateBundleLinkResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for  Create Bundle Link Response</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
        </xs:all>
	</xs:complexType>
	
	<xs:complexType name="UpdateBundleType">
        <xs:annotation>
            <xs:documentation>Request data structure for CreateBundle- will create a Bundle at the specified Customer Level code</xs:documentation>
        </xs:annotation>	
	        <xs:sequence>
                    <xs:element name="ExternalReference" type="xs:string" minOccurs="0"></xs:element>
                    <xs:element name="TargetIdentifier" type="target:TargetCreateBundleIdentifierType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="BundleCode" type="billing:BundleCodeType" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="EffectiveDate" type="xs:date" minOccurs="1"/>
					<xs:element name="ExpiryDate" type="base:ClearableDateType" minOccurs="0"/>
					<xs:element name="LastAmendedDate" type="base:LastAmendedDateType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UpdateBundleResponseType">
        <xs:annotation>
            <xs:documentation>Response data structure for  Create Bundle Response</xs:documentation>
        </xs:annotation>
        <xs:all>
            <xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
        </xs:all>
	</xs:complexType>
	
	<xs:complexType name="QueryUnbilledUnitAttributesType">
		<xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="OriginalRequest" type="base:OriginalRequestType"/>
			<xs:element name="OriginalRequestSequence" type="base:OriginalRequestSequenceType"/>
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="QueryUnbilledUnitAttributesResponseType">
		<xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="UsageAttributes" type="billing:UsageAttributesType"  minOccurs="0"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="QueryRecentUsageType">
		<xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="QueryTarget" type="billing:QueryRecentUsageTargetType"/>           
			<xs:element name="Datasets" type="billing:RecentUsageDatasetsType" minOccurs="1"/>   
			<xs:element name="Filter" type="billing:RecentUsageFilterType" minOccurs="0"/>         
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="QueryRecentUsageResponseType">
		 <xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="PrePayUnits" type="billing:PrePayUnitsType"  minOccurs="0"/>
			<xs:element name="PostPayUnits" type="billing:PostPayUnitsType" minOccurs="0"/>
			<xs:element name="PrePayUsageSummary" type="billing:PrePayUsageSummaryType" minOccurs="0"/>
			<xs:element name="PostPaidUsageSummary" type="billing:UnbilledUnitSummaryType" minOccurs="0"/>
		 </xs:all>
	</xs:complexType>

	<xs:complexType name="QuerySubscriptionBundlesType">
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType" minOccurs="1"/>           
			<xs:element name="Datasets" type="billing:SubscriptionBundlesDatasetsType" minOccurs="1"/>            
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="QuerySubscriptionBundlesResponseType">
		 <xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType" minOccurs="0"/>
			<xs:element name="CurrentSubscriptionBundles" type="billing:CurrentSubscriptionBundlesType"  minOccurs="0"/>
			<xs:element name="QueryLimitExceeded" type="base:QueryLimitExceededType" minOccurs="0"/>
			<xs:element name="Definitions" type="billing:DefinitionsType" minOccurs="0"/>
		 </xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="QueryResourceAttributesRequestType">
		<xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType"
				minOccurs="0" />
			<xs:element name="TargetIdentifier" type="billing:QueryResourceTargetIdentifierType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="DataFilter" type="billing:DataFilterType"
				minOccurs="0" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
	
	<xs:complexType name="QueryResourceAttributesResponseType">
		<xs:sequence>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType"
				minOccurs="0" />
			<xs:element name="Resources" type="billing:ResourceTemplateResponseType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="QueryLimitExceeded" type="base:QueryLimitExceededType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="SetResourceAttributesRequestType">
		<xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType"
				minOccurs="0" />
			<xs:element name="TargetIdentifier" type="billing:TargetIdentifierType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Resource" type="billing:ResourceTemplateType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AuditRecord" type="base:AuditRecordType" minOccurs="1" maxOccurs="1"/>
		</xs:all>
	</xs:complexType>

	<xs:complexType name="SetResourceAttributesResponseType">
		<xs:all>
			<xs:element name="ExternalReference" type="base:ExternalReferenceType"
				minOccurs="0" />
		</xs:all>
	</xs:complexType>
	
</xs:schema>
