cmp-client-createorder/wsdl/CMP-7.3.8/xsd/discount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $Id: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/xsd/discount.xsd#1 $
    $Header: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/xsd/discount.xsd#1 $
    $DateTime: 2021/03/22 14:14:36 $
    $Author: BuildMaster $
    $File: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/xsd/discount.xsd $
    $Revision: #1 $
    (c) Copyright 2008 Martin Dawes Systems Ltd
-->

<!-- This schema contains data types used to describe Discounts -->

<xs:schema targetNamespace="http://mdsuk.com/ws/dise3g/discount/dto/business"
	xmlns:target="http://mdsuk.com/ws/dise3g/discount/dto/business"
	xmlns:base="http://mdsuk.com/ws/dise3g/base" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:import namespace="http://mdsuk.com/ws/dise3g/base" schemaLocation="base.xsd"></xs:import>

	<xs:complexType name="DiscountsType">
		<xs:annotation>
			<xs:documentation>This structure is returned as part of the some Query responses when
				DISCOUNTS dataset is specified</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="Discount" type="target:DiscountType" maxOccurs="unbounded"
			></xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="DiscountType">
		<xs:sequence>
			<xs:element name="DiscountType" type="xs:string"></xs:element>
			<xs:element name="DiscountSchemeCode" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="DiscountDescription" type="xs:string"
				minOccurs="0"></xs:element>
			<xs:element name="EffectiveDate" type="xs:date" minOccurs="0"></xs:element>
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"></xs:element>
			<xs:element name="PackageCode" type="xs:string" minOccurs="0"></xs:element>
			<xs:element name="DiscountLevel" type="target:DiscountLevelType" minOccurs="0"></xs:element>
			<xs:element name="LastAmendedDate" type="base:LastAmendedDateType" minOccurs="0"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CommonDiscountDataType">
		<xs:sequence>
			<xs:element name="TargetIdentifier" type="target:TargetIdentifierType"></xs:element>
			<xs:element name="DiscountSchemeCode" type="target:DiscountSchemeCodeType"></xs:element>
			<xs:element name="EffectiveDate" type="xs:date" minOccurs="0"></xs:element>
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"></xs:element>
			<xs:element name="SequenceNumber" type="base:ThreeDigitNumberType" minOccurs="0"></xs:element>
			<xs:element name="Stop" type="xs:boolean" default="false" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="UpdateDiscountBasicType">
		<xs:sequence>
			<xs:element name="ExpiryDate" type="xs:date"></xs:element>
			<xs:element name="LastAmendedDate" type="base:LastAmendedDateType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="DiscountTypeType">
		<xs:restriction base="base:StringMaxLength6Type"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DiscountSchemeCodeType">
		<xs:restriction base="base:StringMaxLength6Type"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DiscountDescriptionType">
		<xs:restriction base="base:StringMaxLength60Type"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PackageCodeType">
		<xs:restriction base="base:StringMaxLength6Type"></xs:restriction>
	</xs:simpleType>

	<xs:complexType name="FavouriteNumbersListType">
		<xs:sequence>
			<xs:element name="FavouriteNumber" type="target:FavouriteNumberItemType"
				maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CreateFavouriteNumberDiscountType">
		<xs:sequence>
			<xs:element name="CallClassGroups" type="target:CallClassGroupsListType" minOccurs="0"></xs:element>
			<xs:element name="FavouriteNumbers" type="target:FavouriteNumbersListType" minOccurs="0"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CreateNormalDiscountType">
		<xs:sequence>
			<xs:element name="Services" type="target:ServicesListType" minOccurs="0"></xs:element>
			<xs:element name="CallClassGroups" type="target:CallClassGroupsListType" minOccurs="0"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CreateCumulativeDiscountType">
		<xs:sequence>
			<xs:element name="Services" type="target:ServicesListType" minOccurs="0"></xs:element>
			<xs:element name="CallClassGroups" type="target:CallClassGroupsListType" minOccurs="0"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CreateCrossProductDiscountType">
		<xs:sequence>
			<xs:element name="Services" type="target:ServicesListType" minOccurs="0"></xs:element>
			<xs:element name="CallClassGroups" type="target:CallClassGroupsListType" minOccurs="0"></xs:element>
			<xs:element name="CrossProducts" type="target:CrossProductsListType" minOccurs="0"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CreateInvoiceVolumeDiscountType">
		<xs:sequence>
			<xs:element name="InvoiceVolumes" type="target:InvoiceVolumesListType" minOccurs="0"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FavouriteNumberItemType">
		<xs:sequence>
			<xs:element name="Number" type="target:FavouriteNumberType"></xs:element>
			<xs:element name="EffectiveDate" type="xs:date" minOccurs="0"></xs:element>
			<xs:element name="ExpiryDate" type="xs:date" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="FavouriteNumberType">
		<xs:restriction base="base:StringMaxLength18Type"></xs:restriction>
	</xs:simpleType>

	<xs:complexType name="InvoiceVolumesListType">
		<xs:sequence>
			<xs:element name="InvoiceVolume" type="target:InvoiceVolumeItemType"
				maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvoiceVolumeItemType">
		<xs:sequence>
			<xs:element name="VolumeLimit" type="base:SignedDecimal9_2Type"></xs:element>
			<xs:element name="InvoiceBand" type="target:InvoiceBandType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="InvoiceBandType">
		<xs:choice>
			<xs:element name="DiscountPercentage" type="base:UnsignedPercent5_2Type"></xs:element>
			<xs:element name="FixedValue" type="base:UnsignedDecimal9_2Type"></xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:complexType name="CallClassGroupsListType">
		<xs:sequence>
			<xs:element name="CallClassGroup" type="target:CallClassGroupItemType"
				maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CallClassGroupItemType">
		<xs:sequence>
			<xs:element name="CallClassGroupCode" type="base:StringMaxLength6Type"></xs:element>
			<xs:element name="EffectiveDate" type="xs:date"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ServicesListType">
		<xs:sequence>
			<xs:element name="Service" type="target:ServiceItemType" maxOccurs="unbounded"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ServiceItemType">
		<xs:sequence>
			<xs:element name="ServiceCode" type="base:ServiceCodeType"></xs:element>
			<xs:element name="EffectiveDate" type="xs:date"></xs:element>
			<xs:element name="BandType" type="target:BandTypeType"></xs:element>
			<xs:element name="BasedOnValue" type="target:BasedOnValueType"></xs:element>
			<xs:element name="BasedOnVolume" type="xs:boolean" default="false" minOccurs="0"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="BandTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bands"></xs:enumeration>
			<xs:enumeration value="Total"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="BasedOnValueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Service Provider Retail Value"></xs:enumeration>
			<xs:enumeration value="Supplier Value"></xs:enumeration>
			<xs:enumeration value="Service Provider Billed Value"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<!-- AddCrossProductType -->
	<!-- will be last if SequenceNumber not specified -->

	<xs:complexType name="CrossProductsListType">
		<xs:sequence>
			<xs:element name="CrossProduct" type="target:CrossProductItemType" maxOccurs="unbounded"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CrossProductItemType">
		<xs:sequence>
			<xs:element name="SequenceNumber" type="base:ThreeDigitNumberType"></xs:element>
			<xs:element name="AndOrOperator" type="target:AndOrOperatorType"></xs:element>
			<xs:element name="NetworkOrTariff" type="target:NetworkOrTariffType"></xs:element>
			<xs:element name="MinimumConnections" type="target:NumberOfConnectionsType"
				minOccurs="0"></xs:element>
			<xs:element name="MaximumConnections" type="target:NumberOfConnectionsType"
				minOccurs="0"></xs:element>
			<xs:element name="Level" type="target:CrossProductLevelType"></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NetworkOrTariffType">
		<xs:choice>
			<xs:element name="Network" type="target:NetworkType"></xs:element>
			<xs:element name="TariffCode" type="target:TariffCodeType"></xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="NetworkType">
		<xs:sequence>
			<xs:element name="NetworkCode" type="base:NetworkCodeType"></xs:element>
			<xs:element name="NetworkTypeCode" type="base:NetworkCodeType" minOccurs="0"
			></xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="AndOrOperatorType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="And"></xs:enumeration>
			<xs:enumeration value="Or"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TariffCodeType">
		<xs:restriction base="base:StringMaxLength6Type"></xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NumberOfConnectionsType">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"></xs:minInclusive>
			<xs:maxInclusive value="99999"></xs:maxInclusive>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TargetIdentifierType">
		<xs:choice>
			<xs:element name="GroupIdentifier" type="base:GroupCodeType"></xs:element>
			<xs:element name="CorporateIdentifier" type="base:CorporateCodeType"></xs:element>
			<xs:element name="AccountIdentifier" type="base:AccountNumberType"></xs:element>
			<xs:element name="SubscriptionIdentifier" type="base:SubscriptionNumberType"></xs:element>
			<xs:element name="AgreementIdentifier" type="base:AgreementNumberType"></xs:element>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="CrossProductLevelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Account"></xs:enumeration>
			<xs:enumeration value="Agreement"></xs:enumeration>
			<xs:enumeration value="Corporate"></xs:enumeration>
			<xs:enumeration value="Group"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="DiscountLevelType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Group"/>
            <xs:enumeration value="Corporate"/>
            <xs:enumeration value="Account"/>
            <xs:enumeration value="Agreement"/>
            <xs:enumeration value="Subscription"/>
        </xs:restriction>
    </xs:simpleType>


</xs:schema>
