cmp-client-createorder/wsdl/CMP-7.3.8/xsd/financials.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $Id: //Source_Code/BCC/Dise3G/4.5/0/WebService/Schema/xsd/financials.xsd#1 $
    $Header: //Source_Code/BCC/Dise3G/4.5/0/WebService/Schema/xsd/financials.xsd#1 $
    $DateTime: 2007/07/19 11:36:52 $
    $Author: Kevin Grindley $
    $File: //Source_Code/BCC/Dise3G/4.5/0/WebService/Schema/xsd/financials.xsd $
    $Revision: #1 $
    (c) Copyright 2007 Martin Dawes Systems Ltd
-->

<!-- This schema describes data types used by the Financials service. -->

<xs:schema targetNamespace="http://mdsuk.com/ws/dise3g/financials/dto/business"
    xmlns:target="http://mdsuk.com/ws/dise3g/financials/dto/business"
    xmlns:subscription="http://mdsuk.com/ws/dise3g/subscription/dto/business"
    xmlns:base="http://mdsuk.com/ws/dise3g/base" 
    xmlns:payment="http://mdsuk.com/ws/dise3g/payment/dto/business"
    xmlns:address="http://mdsuk.com/ws/dise3g/address/dto/business"
	xmlns:billing="http://mdsuk.com/ws/dise3g/billing/dto/business"
	xmlns:services="http://mdsuk.com/ws/dise3g/services/dto/business"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:import namespace="http://mdsuk.com/ws/dise3g/base" schemaLocation="base.xsd"/>
    <xs:import namespace="http://mdsuk.com/ws/dise3g/subscription/dto/business" schemaLocation="subscription.xsd"/>  
    <xs:import namespace="http://mdsuk.com/ws/dise3g/payment/dto/business" schemaLocation="payment.xsd"/>
    <xs:import namespace="http://mdsuk.com/ws/dise3g/address/dto/business" schemaLocation="address.xsd"/>
	<xs:import namespace="http://mdsuk.com/ws/dise3g/billing/dto/business" schemaLocation="billing.xsd"/>
	<xs:import namespace="http://mdsuk.com/ws/dise3g/services/dto/business" schemaLocation="services.xsd"/>

    <xs:complexType name="TransactionsType">
        <xs:all>
            <xs:element name="ReferenceNumber" type="base:EightDigitNumberType"/>
            <xs:element name="Description" type="target:DescriptionType"/>
            <xs:element name="TaxDate" type="xs:date"/>
            <xs:element name="Remark" type="target:RemarkType"/>
            <xs:element name="GrossAmount" type="base:SignedDecimal9_2Type"/>
            <xs:element name="OpenAmount" type="base:SignedDecimal9_2Type"/>
            <xs:element name="PaymentDueReceivedDate" type="xs:date"/>
            <xs:element name="TransactionType" type="target:TransactionType"/>
        </xs:all>
    </xs:complexType>
    
    <xs:simpleType name="TransactionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INVOICE"/>
            <xs:enumeration value="PAYMENT"/>
        </xs:restriction>        
    </xs:simpleType>
    
    <xs:complexType name="BalanceDetailsType">
        <xs:all>
            <xs:element name="Balance" type="base:SignedDecimal9_2Type"/>
            <xs:element name="AmountOverdue" type="base:Currency9_2NotRequiredType"/>
            <xs:element name="AmountInQuery" type="base:Currency9_2NotRequiredType"/>
			<xs:element name="MinimumPaymentRequired" type="base:Currency9_2NotRequiredType"/>
        </xs:all>
    </xs:complexType>
        
    <xs:simpleType name="DescriptionType">
        <xs:restriction base="base:StringMaxLength30Type"/>
    </xs:simpleType>
    
    <xs:simpleType name="RemarkType">
        <xs:restriction base="base:StringMaxLength30Type"/>
    </xs:simpleType>
    
    <xs:simpleType name="PaymentCardStatusType">
        <xs:restriction base="base:StringMaxLength30Type"/>
    </xs:simpleType>
    
    <xs:simpleType name="QueryFilterType">
        <xs:restriction base="base:StringMaxLength30Type"/>
    </xs:simpleType>
    
    <xs:simpleType name="StatusFilterType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ALL"/>
            <xs:enumeration value="OPEN"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="InvoiceQueryAmountsDataType">
       		<xs:sequence>
       			<xs:element name="QueryData" type="target:InvoiceQueryAmountDataType" minOccurs="0" maxOccurs="unbounded" />
       		</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="InvoiceQueryAmountDataType">
    	<xs:all>
            <xs:element name="QueryNumber" type="base:EightDigitInt_NotZeroType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AmountsInQuery" type="base:Currency9_2Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DateQueryRaised" type="xs:date" minOccurs="0" maxOccurs="1"/>
            <xs:element name="InvoiceNumber" type="base:EightDigitInt_NotZeroType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="WorkFlowEventNumber" type="base:NineDigitNumberType_NotZeroType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="QueryStatus" type="base:StringMaxLength30Type" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CreatedBy" type="base:StringMaxLength30Type" minOccurs="0" maxOccurs="1"/>
        </xs:all>
    </xs:complexType>
    
    <xs:complexType name="CreditDebitCardsType">
    	<xs:sequence>
       		<xs:element name="Card" type="target:CardDataType" minOccurs="0" maxOccurs="unbounded" />
       	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="CardDataType">
         <xs:all>   
            <xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType" minOccurs="0"/>
            <xs:element name="NetworkSerialNumber" type="base:NetworkSerialNumberType" minOccurs="0"/>
            <xs:element name="PaymentType" type="base:PaymentTypeType" minOccurs="1"/>
            <xs:element name="Status" type="target:PaymentCardStatusType" minOccurs="1"/>
            <xs:element name="CardReference" type="base:PCI_CardOnFileReferenceType" minOccurs="1"/>
            <xs:element name="CardNumber" type="base:PCI_CCDCCardNumberType" minOccurs="0"/>
            <xs:element name="NameOnCard" type="base:NameOnCardType" minOccurs="0"/>
            <xs:element name="StartYear" type="base:YearNumberType" minOccurs="0"/>
            <xs:element name="StartMonth" type="base:MonthNumberType" minOccurs="0"/>
            <xs:element name="ExpiryYear" type="base:YearNumberType" minOccurs="0"/>
            <xs:element name="ExpiryMonth" type="base:MonthNumberType" minOccurs="0"/>            
    	</xs:all>
    </xs:complexType>

	<xs:complexType name="InvoicesType">
		<xs:sequence>
		    <xs:element name="Invoice" type="target:InvoiceDataType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InvoiceDataType">
		<xs:all>
			<xs:element name="InvoiceNumber" type="base:InvoiceNumberType" minOccurs="1"/>
		    <xs:element name="InvoiceDate" type="xs:date" minOccurs="1"/>
			<xs:element name="InvoiceType" type="target:InvoiceType"/>
			<xs:element name="InvoiceRunNumber" type="base:InvoiceNumberType" minOccurs="1"/>
			<xs:element name="ExpectedInvoicePullDate" type="xs:date" minOccurs="1"/>
			<xs:element name="InvoicePayStatus" type="target:InvoicePayStatusType" minOccurs="1"/>
			<xs:element name="AgreementNumber" type="base:AgreementNumberType" minOccurs="0"/>
			<xs:element name="AgreementBillingCycle" type="base:DayOfMonthType" minOccurs="0"/>
			<xs:element name="BillingMediaCode" type="base:StringMaxLength6Type" minOccurs="1"/>
			<xs:element name="PaymentTypeCode" type="base:StringMaxLength6Type" minOccurs="1"/>
			<xs:element name="InvoiceMessageTypeCode" type="base:StringMaxLength6Type" minOccurs="1"/>
			<xs:element name="DeliveryAddressNumber" type="address:AddressCodeType" minOccurs="1"/>
			<xs:element name="InQuery" type="xs:boolean" minOccurs="1"/>
			<xs:element name="AmountInQuery" type="billing:Price6_4Type" minOccurs="1"/>
			<xs:element name="NetAmount" type="base:SignedDecimal9_2Type" minOccurs="1"/>
			<xs:element name="TaxAmount" type="base:SignedDecimal9_2Type" minOccurs="1"/>
			<xs:element name="ExternalReference1" type="base:StringMaxLength20NotRequiredType" minOccurs="0"/>
			<xs:element name="ExternalReference2" type="base:StringMaxLength20NotRequiredType" minOccurs="0"/>
			<xs:element name="Subscriptions" type="target:SubscriptionsType" minOccurs="0"/>
		</xs:all>
	</xs:complexType>
	
	<xs:simpleType name="InvoiceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Credit Note" />
			<xs:enumeration value="Invoice" />
			<xs:enumeration value="Zero Invoice" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="InvoicePayStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Overdue" />
			<xs:enumeration value="Paid" />
			<xs:enumeration value="Open" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="SubscriptionsType">
		<xs:sequence>
		    <xs:element name="Subscription" type="target:SubscriptionDataType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
    
	<xs:complexType name="SubscriptionDataType">
		<xs:sequence>
			<xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType" minOccurs="1"/>
		    <xs:element name="NetworkSerialNumber1" type="base:NetworkSerialNumberType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="InvoiceDetailDatasetsType">
        <xs:choice>
            <xs:element name="Dataset" type="target:QueryInvoiceDetailDatasetType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>
	
	<xs:simpleType name="QueryInvoiceDetailDatasetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="USAGE"/>
            <xs:enumeration value="BUNDLEUSAGE"/>
			<xs:enumeration value="DEFINITIONS"/>
        </xs:restriction>
    </xs:simpleType>

	<xs:complexType name="InvoiceLinesType">
		<xs:sequence>
		    <xs:element name="InvoiceLine" type="target:InvoiceLineType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="InvoiceLineType">
		<xs:sequence>
			<xs:element name="InvoiceLineNumber" type="base:EightDigitNumberType" minOccurs="1"/>
		    <xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType" minOccurs="0"/>
			<xs:element name="NetworkSerialNumber1" type="base:NetworkSerialNumberType" minOccurs="0"/>
			<xs:element name="ServiceGroupCode" type="base:StringMaxLength6Type" minOccurs="1"/>
			<xs:element name="ServiceGroupDescription" type="base:StringMaxLength30Type" minOccurs="1"/>
			<xs:element name="ServiceCode" type="base:ServiceCodeType" minOccurs="1"/>
			<xs:element name="ServiceDescription" type="base:StringMaxLength30Type" minOccurs="1"/>
			<xs:element name="ChargeStartDate" type="xs:date" minOccurs="1"/>
			<xs:element name="ChargeEndDate" type="xs:date" minOccurs="1"/>
			<xs:element name="NetAmount" type="base:SignedDecimal9_2Type" minOccurs="1"/>
			<xs:element name="TaxAmount" type="base:SignedDecimal9_2Type" minOccurs="1"/>
			<xs:element name="ProRatedPrice" type="xs:boolean" minOccurs="1"/>
			<xs:element name="PostPayValues" type="target:PostPayValuesType" minOccurs="0"/>
			<xs:element name="PrePayValues" type="target:PrePayValuesType" minOccurs="0"/>
			<xs:element name="UsageData" type="target:UsageDataType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PostPayValuesType">
		<xs:sequence>
			<xs:element name="Units" type="target:PostPayUnitsType" minOccurs="0"/>
		    <xs:element name="Duration" type="target:PostPayDurationType" minOccurs="0"/>
			<xs:element name="Values" type="target:PostPayValueType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PostPayUnitsType">
		<xs:sequence>
			<xs:element name="PostPayPreBundleUnits" type="billing:UnitsType" minOccurs="1"/>
		    <xs:element name="PostPayPostBundleUnits" type="billing:UnitsType" minOccurs="1"/>
			<xs:element name="PostPayUnitsBundled" type="billing:UnitsType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PostPayDurationType">
		<xs:sequence>
			<xs:element name="PostPayPreBundleDuration" type="base:SevenDigitNumberType" minOccurs="1"/>
		    <xs:element name="PostPayPostBundleDuration" type="base:SevenDigitNumberType" minOccurs="1"/>
			<xs:element name="PostPayDurationBundled" type="base:SevenDigitNumberType" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PostPayValueType">
		<xs:sequence>
			<xs:element name="PostPayPreBundleValue" type="billing:Price6_4Type" minOccurs="1"/>
		    <xs:element name="PostPayPostBundleValue" type="billing:Price6_4Type" minOccurs="1"/>
			<xs:element name="PostPayValueBundled" type="billing:Price6_4Type" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="PrePayValuesType">
		<xs:sequence>
			<xs:element name="TotalPrePayUnits" type="billing:UnitsType" minOccurs="1"/>
		    <xs:element name="TotalPrePayDuration" type="base:SevenDigitNumberType" minOccurs="1"/>
			<xs:element name="TotalPrePayValue" type="billing:Price6_4Type" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UsageDataType">
		<xs:sequence>
		    <xs:element name="UsageRecords" type="target:UsageRecordsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UsageRecordsType">
		<xs:sequence>
		    <xs:element name="UsageRecord" type="target:UsageRecordType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="UsageRecordType">
		<xs:sequence>
			<xs:element name="CallClassification" type="billing:CallClassificationType" minOccurs="1"/>
		    <xs:element name="NetworkCode" type="base:NetworkCodeType" minOccurs="1"/>
			<xs:element name="BundleCallStatus" type="billing:BundledCallStatusType" minOccurs="1"/>
			<xs:element name="DialledNumber" type="base:StringMaxLength18Type" minOccurs="1"/>
			<xs:element name="UsageStartDateTime" type="xs:dateTime" minOccurs="1"/>
			<xs:element name="CallDuration" type="base:SevenDigitNumberType" minOccurs="0"/>
			<xs:element name="UnitsUsed" type="billing:UnitsType" minOccurs="0"/>
			<xs:element name="PreBundeValue" type="billing:Price6_4Type" minOccurs="1"/>
			<xs:element name="BundleValue" type="billing:Price6_4Type" minOccurs="0"/>
			<xs:element name="DiscountValue" type="billing:Price6_4Type" minOccurs="0"/>
			<xs:element name="UsageValue" type="billing:Price6_4Type" minOccurs="1"/>
			<xs:element name="UnitOfMeasure" type="base:StringMaxLength8NotRequiredType" minOccurs="0"/>
			<xs:element name="BillingType" type="billing:BillingTypeType" minOccurs="1"/>
			<xs:element name="CallPricingBreakdown" type="billing:CallPricingBreakdownType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BundleUsagesType">
		<xs:sequence>
		    <xs:element name="BundleUsage" type="target:BundleUsageType" maxOccurs="unbounded" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BundleUsageType">
		<xs:sequence>
			<xs:element name="BundleCode" type="billing:BundleCodeType" minOccurs="1"/>
			<xs:element name="PackageCode" type="services:PackageCodeType" minOccurs="0"/>
		    <xs:element name="BundlAllocationThisPeriod" type="xs:decimal" minOccurs="1"/>
			<xs:element name="BundleAllocationRolledOver" type="xs:decimal" minOccurs="1"/>
			<xs:element name="BundleAllocationUsed" type="xs:decimal" minOccurs="1"/>
			<xs:element name="ProRatedPrice" type="xs:boolean" minOccurs="1"/>
			<xs:element name="ProRatedAllocation" type="xs:boolean" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DefinitionsType">
		<xs:sequence>
		    <xs:element name="BundleDefinitions" type="billing:BundleDefinitionsType" minOccurs="0"/>
			<xs:element name="PackageDefinitions" type="services:PackageDefinitionsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
    <xs:complexType name="QueryETCDatasetsType">
        <xs:choice>
            <xs:element name="Dataset" type="target:QueryETCDatasetType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:choice>
    </xs:complexType>

    <xs:simpleType name="QueryETCDatasetType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BASIC"/>
			<xs:enumeration value="SUBSCRIPTIONS"/>
            <xs:enumeration value="DEFINITIONS"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="TariffCodeType">
        <xs:restriction base="base:StringMaxLength6Type"/>
    </xs:simpleType>

    <xs:simpleType name="PackageCodeType">
        <xs:restriction base="base:StringMaxLength6Type"/>
    </xs:simpleType>
	
    <xs:complexType name="SubscriptionResponseType">
     <xs:sequence>
        <xs:element name="SubscriptionNumber" type="base:SubscriptionNumberType" minOccurs="1"/>
		<xs:element name="SubscriptionUsername" type="base:StringMaxLength30Type" minOccurs="0"/>
        <xs:element name="AccountNumber" type="base:AccountNumberType" minOccurs="1"/>
		<xs:element name="PrimarySerialNumber" type="base:NetworkSerialNumberType" minOccurs="1"/>
		<xs:element name="ContractStartDate" type="xs:date" minOccurs="0"/>
		<xs:element name="ContractEndDate" type="xs:date" minOccurs="0"/>
		<xs:element name="PricePlanCode" type="base:PricePlanCodeType" minOccurs="0"/>
		<xs:element name="TariffCode" type="target:TariffCodeType" minOccurs="1"/>
		<xs:element name="BasePackageCode" type="target:PackageCodeType" minOccurs="0"/>
		<xs:element name="SubscriptionETC" type="base:Currency9_2Type" minOccurs="1"/>
		<xs:element name="SubscriptionETCOverride" type="base:Currency9_2Type" minOccurs="0"/>		
		<xs:element name="SubscriptionETCBreakdown" type="target:SubscriptionServiceType" minOccurs="0"/>
     </xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="SubscriptionServiceType">
		<xs:sequence>
		    <xs:element name="SubscriptionService" type="target:SubscriptionETCBreakdownType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	
    <xs:complexType name="SubscriptionETCBreakdownType">
     <xs:sequence>
        <xs:element name="Service" type="base:ServiceCodeType" minOccurs="1"/>
		<xs:element name="ServiceDescription" type="base:StringMaxLength30Type" minOccurs="1"/>
		<xs:element name="ServiceEffectiveDate" type="xs:date" minOccurs="1"/>
		<xs:element name="ServiceExpiryDate" type="xs:date" minOccurs="0"/>
		<xs:element name="ServiceETC" type="base:Currency9_2Type" minOccurs="1"/>
		<xs:element name="ServiceETCOverride" type="base:Currency9_2Type" minOccurs="0"/>
		<xs:element name="ContractService" type="xs:boolean" minOccurs="1"/>		
		<xs:element name="ServiceContractStartDate" type="xs:date" minOccurs="0"/>
		<xs:element name="ServiceContractEndDate" type="xs:date" minOccurs="0"/>
     </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TariffDefinitionsType">
    	<xs:sequence>
    		<xs:element name="TariffDefinition" type="target:TariffDefinitionType" minOccurs="0" maxOccurs="unbounded"/>
    	</xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="TariffDefinitionType">
    	<xs:sequence>
    		<xs:element name="TariffCode" type="target:TariffCodeType" minOccurs="1"/>
    		<xs:element name="TariffDescription" type="base:StringMaxLength30Type" minOccurs="1"/>
    	</xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="ETCBasicDatasetType">
        <xs:annotation>
            <xs:documentation>This structure is returned as part of the ETC Query response
                when the BASIC dataset is specified</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="ETCRef" type="base:StringMaxLength10NotRequiredType"/>
			<xs:element name="ETCTotal" type="base:Currency9_2Type"/>
			<xs:element name="ETCTotalOverride" type="base:Currency9_2Type" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SubscriptionsDatasetType">
	    <xs:annotation>
           <xs:documentation>This structure is returned as part of the ETC Query response
                when the SUBSCRIPTIONS dataset is specified</xs:documentation>
        </xs:annotation>
        <xs:sequence>
		    <xs:element name="Subscription" type="target:SubscriptionResponseType"  minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	
	<xs:complexType name="DefinitionsDatasetType">
        <xs:annotation>
            <xs:documentation>This structure is returned as part of the ETC Query response
                when the DEFINITIONS dataset is specified</xs:documentation>
        </xs:annotation>	
        <xs:sequence>
		    <xs:element name="PricePlanDefinitions" type="subscription:PricePlanDefinitionsType" minOccurs="0"/>
			<xs:element name="TariffDefinitions" type="target:TariffDefinitionsType" minOccurs="0"/>
            <xs:element name="PackageDefinitions" type="services:PackageDefinitionsType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
	
</xs:schema>

