cmp-client-createorder/wsdl/CMP-7.3.8/wsdl/basket/basket.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://mdsuk.com/ws/dise3g/basket/definition"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:target="http://mdsuk.com/ws/dise3g/basket/definition"
	xmlns:fault="http://mdsuk.com/ws/dise3g/fault/definition">

	<documentation>This Web service definition encompasses all operations to
		customer baskets. </documentation>
	
	 <import namespace="http://mdsuk.com/ws/dise3g/fault/definition" location="../fault/fault.wsdl"/>
	
	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://mdsuk.com/ws/dise3g/basket/definition"
			xmlns:basket="http://mdsuk.com/ws/dise3g/basket/dto/service"
			elementFormDefault="qualified">
			<import namespace="http://mdsuk.com/ws/dise3g/basket/dto/service"
				schemaLocation="../../xsd/basketservice.xsd" />

			<element name="UpdateBasketCreditLimit">
				<complexType>
					<sequence>
						<element name="Request" type="basket:UpdateBasketCreditLimitType"> </element>
					</sequence>
				</complexType>
			</element>

			<element name="UpdateBasketCreditLimitResponse">
				<complexType>
					<sequence>
						<element name="Result" type="basket:UpdateBasketCreditLimitResponseType"
						> </element>
					</sequence>
				</complexType>
			</element>

			<element name="QuerySharedBasketBalance">
				<complexType>
					<sequence>
						<element name="Request" type="basket:QuerySharedBasketBalanceType"> </element>
					</sequence>
				</complexType>
			</element>

			<element name="QuerySharedBasketBalanceResponse">
				<complexType>
					<sequence>
						<element name="Result" type="basket:QuerySharedBasketBalanceResponseType"> </element>
					</sequence>
				</complexType>
			</element>

			<element name="PurchaseProduct">
				<complexType>
					<sequence>
						<element name="Request" type="basket:PurchaseProductType"> </element>
					</sequence>
				</complexType>
			</element>

			<element name="PurchaseProductResponse">
				<complexType>
					<sequence>
						<element name="Result" type="basket:PurchaseProductResponseType"> </element>
					</sequence>
				</complexType>
			</element>
			
			<!-- CIF-3100 -->
			<element name="AdjustBasketBalance">
				<complexType>
					<sequence>
						<element name="Request" type="basket:AdjustBasketBalanceType"> </element>
					</sequence>
				</complexType>
			</element>
			
			<element name="AdjustBasketBalanceResponse">
				<complexType>
					<sequence>
						<element name="Result" type="basket:AdjustBasketBalanceResponseType"> </element>
					</sequence>
				</complexType>
			</element>

			<!-- CIF-3736 -->
			<element name="QueryReloadHistory">
				<complexType>
					<sequence>
						<element name="Request" type="basket:QueryReloadHistoryType"> </element>
					</sequence>
				</complexType>
			</element>
			
			<element name="QueryReloadHistoryResponse">
				<complexType>
					<sequence>
						<element name="Result" type="basket:QueryReloadHistoryResponseType"> </element>
					</sequence>
				</complexType>
			</element>
			
			<!-- CIF-3913 -->
			<element name="CreateRefresh">
				<complexType>
					<sequence>
						<element name="Request" type="basket:CreateRefreshType"> </element>
					</sequence>
				</complexType>
			</element>
			
			<element name="CreateRefreshResponse">
				<complexType>
					<sequence>
						<element name="Result" type="basket:CreateRefreshResponse"> </element>
					</sequence>
				</complexType>
			</element>
			
			<element name="UpdateRefreshes">
				<complexType>
					<sequence>
						<element name="Request" type="basket:UpdateRefreshType"> </element>
					</sequence>
				</complexType>
			</element>
			
			<element name="UpdateRefreshesResponse">
				<complexType>
					<sequence>
						<element name="Result" type="basket:UpdateRefreshResponse"> </element>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>

	<message name="UpdateBasketCreditLimitRequest">
		<part name="Request" element="target:UpdateBasketCreditLimit"></part>
	</message>

	<message name="UpdateBasketCreditLimitResponse">
		<part name="Result" element="target:UpdateBasketCreditLimitResponse"></part>
	</message>
	
	<message name="QuerySharedBasketBalanceRequest">
		<part name="Request" element="target:QuerySharedBasketBalance"></part>
	</message>

	<message name="QuerySharedBasketBalanceResponse">
		<part name="Result" element="target:QuerySharedBasketBalanceResponse"></part>
	</message>

	<message name="PurchaseProductRequest">
		<part name="Request" element="target:PurchaseProduct"></part>
	</message>

	<message name="PurchaseProductResponse">
		<part name="Result" element="target:PurchaseProductResponse"></part>
	</message>
	
	<!-- CIF-3100 -->
	<message name="AdjustBasketBalanceRequest">
		<part name="Request" element="target:AdjustBasketBalance"></part>
	</message>

	<message name="AdjustBasketBalanceResponse">
		<part name="Result" element="target:AdjustBasketBalanceResponse"></part>
	</message>

	<!-- CIF-3736 -->
	<message name="QueryReloadHistoryRequest">
		<part name="Request" element="target:QueryReloadHistory"></part>
	</message>

	<message name="QueryReloadHistoryResponse">
		<part name="Result" element="target:QueryReloadHistoryResponse"></part>
	</message>
	
	<!-- CIF-3913 -->
	<message name="CreateRefreshRequest">
		<part name="Request" element="target:CreateRefresh"></part>
	</message>
	
	<message name="CreateRefreshResponse">
		<part name="Result" element="target:CreateRefreshResponse"></part>
	</message>
	
	<message name="UpdateRefreshRequest">
		<part name="Request" element="target:UpdateRefreshes"></part>
	</message>
	
	<message name="UpdateRefreshResponse">
		<part name="Result" element="target:UpdateRefreshesResponse"></part>
	</message>
	
	<portType name="BasketPortType">
		<operation name="UpdateBasketCreditLimit">
			<input message="target:UpdateBasketCreditLimitRequest"></input>
			<output message="target:UpdateBasketCreditLimitResponse"></output>
			<fault message="fault:SystemFault" name="SystemFault"></fault>
			<fault message="fault:SecurityFault" name="SecurityFault"></fault>
			<fault message="fault:ValidationFault" name="ValidationFault"></fault>
			<fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"></fault>
		</operation>
		<operation name="QuerySharedBasketBalance">
			<input message="target:QuerySharedBasketBalanceRequest"></input>
			<output message="target:QuerySharedBasketBalanceResponse"></output>
			<fault message="fault:SystemFault" name="SystemFault"></fault>
			<fault message="fault:SecurityFault" name="SecurityFault"></fault>
			<fault message="fault:ValidationFault" name="ValidationFault"></fault>
			<fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"></fault>
		</operation>
		<operation name="PurchaseProduct">
			<input message="target:PurchaseProductRequest"></input>
			<output message="target:PurchaseProductResponse"></output>
			<fault message="fault:SystemFault" name="SystemFault"></fault>
			<fault message="fault:SecurityFault" name="SecurityFault"></fault>
			<fault message="fault:ValidationFault" name="ValidationFault"></fault>
			<fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"></fault>
		</operation>
		
		<!-- CIF-3100 -->
		<operation name="AdjustBasketBalance">
			<input message="target:AdjustBasketBalanceRequest"></input>
			<output message="target:AdjustBasketBalanceResponse"></output>
			<fault message="fault:SystemFault" name="SystemFault"></fault>
			<fault message="fault:SecurityFault" name="SecurityFault"></fault>
			<fault message="fault:ValidationFault" name="ValidationFault"></fault>
			<fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"></fault>
		</operation> 
		<!-- CIF-3736 -->
		<operation name="QueryReloadHistory">
			<input message="target:QueryReloadHistoryRequest"></input>
			<output message="target:QueryReloadHistoryResponse"></output>
			<fault message="fault:SystemFault" name="SystemFault"></fault>
			<fault message="fault:SecurityFault" name="SecurityFault"></fault>
			<fault message="fault:ValidationFault" name="ValidationFault"></fault>
			<fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"></fault>
		</operation> 
		
		<!-- CIF-3913 -->
		<operation name="CreateRefresh">
			<input message="target:CreateRefreshRequest"></input>
			<output message="target:CreateRefreshResponse"></output>
			<fault message="fault:SystemFault" name="SystemFault"></fault>
			<fault message="fault:SecurityFault" name="SecurityFault"></fault>
			<fault message="fault:ValidationFault" name="ValidationFault"></fault>
			<fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"></fault>
		</operation> 
		<operation name="UpdateRefresh">
			<input message="target:UpdateRefreshRequest"></input>
			<output message="target:UpdateRefreshResponse"></output>
			<fault message="fault:SystemFault" name="SystemFault"></fault>
			<fault message="fault:SecurityFault" name="SecurityFault"></fault>
			<fault message="fault:ValidationFault" name="ValidationFault"></fault>
			<fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"></fault>
		</operation> 
	</portType>
</definitions>