cmp-client-createorder/wsdl/CMP-7.3.8/wsdl/simulationworkfile/simulationworkfile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $DateTime: 2007/08/23 14:00:00 $
    $Author: Sean Ryan $
    $Revision: #1 $
    (c) Copyright 2007 Martin Dawes Systems Ltd
-->
<definitions targetNamespace="http://mdsuk.com/ws/dise3g/simulationworkfile/definition"
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:fault="http://mdsuk.com/ws/dise3g/fault/definition"
    xmlns:target="http://mdsuk.com/ws/dise3g/simulationworkfile/definition">

    <documentation>This Webservice definition encompasses all operations relating to Simulation Workfile management. </documentation>

	<import namespace="http://mdsuk.com/ws/dise3g/fault/definition" location="../fault/fault.wsdl"/>

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://mdsuk.com/ws/dise3g/simulationworkfile/definition"
            xmlns:simulationworkfile="http://mdsuk.com/ws/dise3g/simulationworkfile/dto/service"
            elementFormDefault="qualified">
            <import namespace="http://mdsuk.com/ws/dise3g/simulationworkfile/dto/service" schemaLocation="../../xsd/simulationworkfileservice.xsd"/>

            <element name="GetSimulationWorkfileData">
                <complexType>
                    <sequence>
                        <element name="SubscriptionNumber" type="simulationworkfile:SubscriptionNumber"/>
                    </sequence>
                </complexType>
            </element>

            <element name="GetSimulationWorkfileDataResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="simulationworkfile:SimulationWorkfileDataResponseType"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="GetSimulationWorkfileDataRequest">
        <part name="Parameters" element="target:GetSimulationWorkfileData"/>
    </message>

    <message name="GetSimulationWorkfileDataResponse">
        <part name="Result" element="target:GetSimulationWorkfileDataResponse"/>
    </message>

    <portType name="SimulationWorkfilePortType">
        <operation name="GetSimulationWorkfileData">
            <input message="target:GetSimulationWorkfileDataRequest"/>
            <output message="target:GetSimulationWorkfileDataResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
    </portType>
</definitions>
