cmp-client-createorder/wsdl/CMP-7.3.8/wsdl/order/orderservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $Id: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/order/orderservice.wsdl#1 $
    $Header: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/order/orderservice.wsdl#1 $
    $DateTime: 2021/03/22 14:14:36 $
    $Author: BuildMaster $
    $File: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/order/orderservice.wsdl $
    $Revision: #1 $
    (c) Copyright 2007 Martin Dawes Systems Ltd
-->
<definitions targetNamespace="http://mdsuk.com/ws/dise3g/order/service"
    xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:target="http://mdsuk.com/ws/dise3g/order/service"
    xmlns:definition="http://mdsuk.com/ws/dise3g/order/definition"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">

    <import namespace="http://mdsuk.com/ws/dise3g/order/definition" location="order.wsdl"/>

    <!-- binding declns -->
    <binding name="OrderSoapBinding" type="definition:OrderPortType">
        <documentation> This Webservice binding encompasses all operations relating to Dise Order
            Processing. </documentation>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateOrder">
            <documentation> Creates a new Order and adds items to the order within Dise. </documentation>
			<soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="SecurityFault">
                <soap:fault name="SecurityFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
            <fault name="ServiceUnavailableFault">
                <soap:fault name="ServiceUnavailableFault" use="literal"/>
            </fault>
        </operation>
        <operation name="QueryOrder">
            <documentation>Query a specific Order within Dise. </documentation>
			<soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="SecurityFault">
                <soap:fault name="SecurityFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
            <fault name="ServiceUnavailableFault">
                <soap:fault name="ServiceUnavailableFault" use="literal"/>
            </fault>
        </operation>

        <operation name="QueryStock">
            <documentation> Reports the in-stock quantity of an item as reported by the third party
                inventory system. </documentation>
			<soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="SecurityFault">
                <soap:fault name="SecurityFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
            <fault name="ServiceUnavailableFault">
                <soap:fault name="ServiceUnavailableFault" use="literal"/>
            </fault>
        </operation>
		<operation name="QueryOrders">
            <documentation> Reports order history for an account</documentation>
			<soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="SecurityFault">
                <soap:fault name="SecurityFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
            <fault name="ServiceUnavailableFault">
                <soap:fault name="ServiceUnavailableFault" use="literal"/>
            </fault>
        </operation>
        <operation name="UpdateOrderStatus">
            <documentation> Update the Order status within Dise3G. </documentation>
			<soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="SecurityFault">
                <soap:fault name="SecurityFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
            <fault name="ServiceUnavailableFault">
                <soap:fault name="ServiceUnavailableFault" use="literal"/>
            </fault>
        </operation>
		
		<operation name="SubsOrderDispatchNotification">
            <documentation> Update the Order dispatch status within CMP. </documentation>
			<soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </fault>
            <fault name="SecurityFault">
                <soap:fault name="SecurityFault" use="literal"/>
            </fault>
            <fault name="ValidationFault">
                <soap:fault name="ValidationFault" use="literal"/>
            </fault>
            <fault name="ServiceUnavailableFault">
                <soap:fault name="ServiceUnavailableFault" use="literal"/>
            </fault>
        </operation>
        
    </binding>

    <!-- service declns -->
    <service name="OrderPort">
        <documentation>This is the webservice for DISE order processing.</documentation>
        <port name="OrderPort" binding="target:OrderSoapBinding">
            <soap:address location="http://localhost:9082/ws/dise3g/services/OrderPort"/>
        </port>
    </service>
</definitions>
