cmp-client-createorder/wsdl/CMP-7.3.8/wsdl/order/order.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    $Id: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/order/order.wsdl#1 $
    $Header: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/order/order.wsdl#1 $
    $DateTime: 2021/03/22 14:14:36 $
    $Author: BuildMaster $
    $File: //Source_Code/BCC/Dise3G/7.3/8/WebService/Schema/wsdl/order/order.wsdl $
    $Revision: #1 $
    (c) Copyright 2007 Martin Dawes Systems Ltd
-->
<definitions targetNamespace="http://mdsuk.com/ws/dise3g/order/definition"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:target="http://mdsuk.com/ws/dise3g/order/definition"
    xmlns:fault="http://mdsuk.com/ws/dise3g/fault/definition">

    <documentation>This Webservice definition encompasses all operatiorder relating to Order
        management. </documentation>

	<import namespace="http://mdsuk.com/ws/dise3g/fault/definition" location="../fault/fault.wsdl"/>

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://mdsuk.com/ws/dise3g/order/definition"
            xmlns:order="http://mdsuk.com/ws/dise3g/order/dto/service"
            elementFormDefault="qualified">
            <import namespace="http://mdsuk.com/ws/dise3g/order/dto/service"
                schemaLocation="../../xsd/orderprocessingservice.xsd"/>

            <element name="CreateOrder">
                <complexType>
                    <sequence>
                        <element name="OrderData" type="order:OrderType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="CreateOrderResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="order:OrderResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="QueryOrder">
                     <complexType>
                        <sequence>
                           <element name="OrderData" type="order:QueryOrderType"/>
                        </sequence>
                     </complexType>
            </element>
            <element name="QueryOrderResponse">
                     <complexType>
                        <sequence>
                            <element name="Result" type="order:QueryOrderResponseType"/>
                        </sequence>
                     </complexType>
            </element>
            <element name="QueryOrders">
                <complexType>
                    <sequence>
                        <element name="OrderHistory" type="order:QueryOrdersType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="QueryOrdersResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="order:QueryOrdersResponseType"/>
                    </sequence>
                </complexType>
            </element>
            <element name="QueryStock">
                <complexType>
                    <sequence>
                        <element name="QueryData" type="order:StockEnquiryType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="QueryStockResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="order:StockEnquiryResponseType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="UpdateOrderStatus">
                <complexType>
                    <sequence>
                        <element name="UpdateData" type="order:UpdateOrderStatusType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="UpdateOrderStatusResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="order:UpdateOrderStatusResponseType"/>
                    </sequence>
                </complexType>
            </element>
			
			<element name="SubsOrderDispatchNotificationRequest">
                <complexType>
                    <sequence>
                        <element name="DispatchData" type="order:OrderDispatchNotificationType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="SubsOrderDispatchNotificationResponse">
                <complexType>
                    <sequence>
                        <element name="Result" type="order:OrderDispatchNotificationResponseType"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="CreateOrderRequest">
        <part name="Parameters" element="target:CreateOrder"/>
    </message>

    <message name="CreateOrderResponse">
        <part name="Parameters" element="target:CreateOrderResponse"/>
    </message>

    <message name="QueryOrderRequest">
        <part name="Parameters" element="target:QueryOrder"/>
    </message>

    <message name="QueryOrderResponse">
        <part name="Parameters" element="target:QueryOrderResponse"/>
    </message>

    <message name="QueryStockRequest">
        <part name="Parameters" element="target:QueryStock"/>
    </message>

    <message name="QueryStockResponse">
        <part name="Parameters" element="target:QueryStockResponse"/>
    </message>

    <message name="UpdateOrderStatusRequest">
        <part name="Parameters" element="target:UpdateOrderStatus"/>
    </message>

    <message name="UpdateOrderStatusResponse">
        <part name="Parameters" element="target:UpdateOrderStatusResponse"/>
    </message>
    
    <message name="QueryOrdersRequest">
        <part name="Parameters" element="target:QueryOrders"/>
    </message>

    <message name="QueryOrdersResponse">
        <part name="Parameters" element="target:QueryOrdersResponse"/>
    </message>
	
	<message name="SubsOrderDispatchNotificationRequest">
        <part name="Parameters" element="target:SubsOrderDispatchNotificationRequest"/>
    </message>

    <message name="SubsOrderDispatchNotificationResponse">
        <part name="Parameters" element="target:SubsOrderDispatchNotificationResponse"/>
    </message>

    <portType name="OrderPortType">
        <operation name="CreateOrder">
            <input message="target:CreateOrderRequest"/>
            <output message="target:CreateOrderResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
        <operation name="QueryOrder">
            <input message="target:QueryOrderRequest"/>
            <output message="target:QueryOrderResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
        <operation name="QueryStock">
            <input message="target:QueryStockRequest"/>
            <output message="target:QueryStockResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
        <operation name="UpdateOrderStatus">
            <input message="target:UpdateOrderStatusRequest"/>
            <output message="target:UpdateOrderStatusResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
        <operation name="QueryOrders">
            <input message="target:QueryOrdersRequest"/>
            <output message="target:QueryOrdersResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
		<operation name="SubsOrderDispatchNotification">
            <input message="target:SubsOrderDispatchNotificationRequest"/>
            <output message="target:SubsOrderDispatchNotificationResponse"/>
            <fault message="fault:SystemFault" name="SystemFault"/>
            <fault message="fault:SecurityFault" name="SecurityFault"/>
            <fault message="fault:ValidationFault" name="ValidationFault"/>
            <fault message="fault:ServiceUnavailableFault" name="ServiceUnavailableFault"/>
        </operation>
    </portType>

</definitions>
